/* @media screen and (min-width: 1466px) { */
header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2cm;
    background-color: rgb(255, 219, 37);
}

.a {
    text-decoration: none;
    color: black;
    font-family: Microsoft YaHei;
    font-size: 17px;
}

.a:hover {
    color: rgb(75, 123, 157);
}

#icon {
    position: relative;
    top: 9px;
    left: 30px;
    border-radius: 40px;
}

#title_name {
    position: relative;
    top: -1.6cm;
    text-align: center;
}

#main_nav {
    display: flex;
    position: absolute;
    top: 20%;
    right: 5%;
}

h2 {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#a {
    text-decoration: none;
    color: black;
}

/* } */

/* @media screen and (-width: 1466px) {} */