/* 電腦版 */

@media screen and (min-width: 1372px) {

    header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2cm;
        background-color: rgb(255, 219, 37);
    }

    #icon {
        position: relative;
        top: 9px;
        left: 30px;
        border-radius: 40px;
    }

    #select {
        display: none;
    }

    #title_name {
        position: relative;
        top: -1.6cm;
        text-align: center;
    }

    #main_nav {
        display: flex;
        position: absolute;
        top: 20%;
        right: 5%;
    }

    .a {
        text-decoration: none;
        color: black;
        font-family: Microsoft YaHei;
        font-size: 17px;
    }

    .a:hover {
        color: rgb(75, 123, 157);
    }

    #notice {
        position: absolute;
        top: 55%;
        transform: translate(-50%, -50%);
        left: 3.1cm;
        width: 6cm;
        height: 15cm;
        background-color: rgb(233, 217, 140);
        border-radius: 20px;
        line-height: 35px;
    }

    #notice_title {
        text-align: center;
    }

    #notice_li {
        position: relative;
        left: 7px;
    }

    .notice_a {
        text-decoration: none;
        color: rgb(32, 76, 152);
        font-weight: bold;
        font-size: 18px;
    }

    article {
        position: absolute;
        height: 15cm;
        width: 70%;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 55%;
        border-radius: 30px;
    }


    #main_image {
        position: relative;
        right: 50%;
        left: 50%;
        top: 55%;
        bottom: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }

    #select_left {
        position: absolute;
        float: left;
        left: 3%;
        top: 8cm;
        transform: translate(-50%, -50%);
    }

    #select_right {
        position: absolute;
        float: right;
        right: -0.7cm;
        top: 8cm;
        transform: translate(-50%, -50%);
    }

    #main_image1_title {
        color: white;
        position: absolute;
        bottom: 1cm;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #main_image1_title_notes {
        background-color: #004e98;
        width: 1.5cm;
        height: 0.8cm;
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 3.4cm;
        color: white;
        font-size: medium;
        text-align: center;
        line-height: 0.8cm;
    }

    #a {
        text-decoration: none;
        color: black;
    }

    #section {
        display: none;
    }

    #section2 {
        display: none;
    }

    #section3 {
        display: none;
    }

    #section4 {
        display: none;
    }

    ::selection {
        background-color: #004e98;
    }

    body {
        user-select: none;
    }

}

/* 手機板 */

@media screen and (max-width: 1372px) {
    body {
        user-select: none;
    }

    header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2cm;
        background-color: rgb(255, 219, 37);
        z-index: 10000;
    }

    #a {
        text-decoration: none;
        color: black;
    }

    #icon {
        position: relative;
        top: 9px;
        left: 30px;
        border-radius: 40px;
    }

    #title_name {
        position: relative;
        top: -1.6cm;
        text-align: center;
    }

    #main_image {
        position: absolute;
        right: 50%;
        left: 50%;
        top: 15cm;
        bottom: 50%;
        width: 90%;
        max-width: 600px;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        text-align: center;
    }


    #select_left {
        position: absolute;
        float: left;

        left: 5%;
        top: 15.5cm;
        transform: translate(-50%, -50%);
        z-index: 100;
        width: 40px;
    }

    #select_right {
        position: absolute;
        float: left;
        right: -0.1cm;
        top: 15.5cm;
        transform: translate(-50%, -50%);
        z-index: 100;
        width: 40px;
    }

    #main_image1_title {
        color: white;
        position: relative;
        top: 15cm;
        z-index: 100;
    }

    #article {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #main_image1_title_notes {
        background-color: #004e98;
        width: 1.2cm;
        height: 0.7cm;
        position: absolute;
        top: 14.5cm;
        color: white;
        font-size: medium;
        text-align: center;
        font-size: small;
        line-height: 0.7cm;
    }

    #select {
        display: block;
        position: absolute;
        top: 10px;
        right: 3px;
        z-index: 100;
    }

    #notice {
        position: absolute;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 6cm;
        width: 90%;
        height: 5cm;
        background-color: rgb(233, 217, 140);
        border-radius: 20px;
        line-height: 35px;
        max-width: 600px;

    }

    #notice_title {
        text-align: center;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        top: 8px;
        letter-spacing: 5px;
        width: 8cm;
        border-bottom: 5px solid rgb(245, 245, 245);
    }

    #notice_li {
        position: relative;
        bottom: 6mm;
        width: 5cm;
        left: 1cm;
    }

    .notice_a {
        text-decoration: none;
        color: rgb(32, 76, 152);
        font-weight: bold;
        font-size: 18px;
    }

    body {
        height: 23cm;
    }

    #main_nav {
        display: none;
    }

    #section {
        height: 1000%;
        width: 0%;
        position: fixed;
        top: 2cm;
        right: 0px;
        background-color: white;
        z-index: 1000;
    }

    #section2 {
        position: absolute;
        height: 210%;
        width: 0%;
        top: 2cm;
        right: 0px;
        background-color: rgb(255, 255, 255);
        z-index: 1000;
    }

    #section3 {
        height: 1000%;
        width: 35%;
        position: fixed;
        top: 2cm;
        left: 0px;
        z-index: 1000;
        display: none;
        background-color: rgb(255, 255, 255);
        opacity: 0;
    }

    #section4 {
        height: 110%;
        width: 35%;
        position: absolute;
        top: 2cm;
        left: 0px;
        z-index: 1000;
        display: none;
        background-color: rgb(255, 255, 255);
        opacity: 0;
    }

    #body1 {
        position: relative;
        right: 0cm;
        left: 0cm;
        width: 100%;
        height: 110%;
        z-index: 1;
    }
}