/* 網頁捲軸【寬度】 */
::-webkit-scrollbar {
    width: 5px;
}

/* 網頁捲軸【背景】顏色 */
::-webkit-scrollbar-track {
    background: white;
}

/* 網頁捲軸【把手】顏色 */
::-webkit-scrollbar-thumb {
    /* background: #ff7903; */
    background-color: gray;
    border-radius: 3px;
}

/* 網頁捲軸【滑過時】把手的顏色 */
::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}


/* 電腦版 */

@media screen and (min-width: 800px) {

    header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2cm;
        background-color: rgb(255, 219, 37);
    }

    #icon {
        position: relative;
        top: 9px;
        left: 30px;
        border-radius: 40px;
    }

    #select {
        display: none;
    }

    #title_name {
        position: relative;
        top: -1.6cm;
        text-align: center;
    }

    #main_nav {
        display: flex;
        position: absolute;
        top: 20%;
        right: 5%;
    }

    .a {
        text-decoration: none;
        color: black;
        font-family: Microsoft YaHei;
        font-size: 17px;
    }

    .a:hover {
        color: rgb(75, 123, 157);
    }

    #notice {
        position: absolute;
        top: 55%;
        transform: translate(-50%, -50%);
        left: 3.1cm;
        width: 6cm;

        background-color: rgb(233, 217, 140);
        border-radius: 20px;
        line-height: 35px;
    }

    #notice_title {
        text-align: center;
    }

    #notice_li {
        position: relative;
        left: 1.5cm;
        bottom: 0.4cm;
    }

    .notice_a {
        text-decoration: none;
        color: rgb(32, 76, 152);
        font-weight: bold;
        font-size: 18px;
    }

    article {
        position: absolute;
        height: 15cm;
        top: 10cm;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
    }


    #main_image {
        position: relative;
        right: 50%;
        left: 50%;
        top: 8cm;
        height: 12cm;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }


    #main_image1_title {
        color: white;
        position: absolute;
        bottom: 1.7cm;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #main_image1_title_notes {
        background-color: #004e98;
        width: 1.5cm;
        height: 0.8cm;
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 1.5cm;
        color: white;
        font-size: medium;
        text-align: center;
        line-height: 0.8cm;
    }

    #a {
        text-decoration: none;
        color: black;
    }

    #section {
        display: none;
    }

    #section2 {
        display: none;
    }

    #section3 {
        display: none;
    }

    #section4 {
        display: none;
    }

    ::selection {
        background-color: #004e98;
    }

    body {
        user-select: none;
    }

    #show_screen {
        display: none;
    }

    #select_picture {
        position: absolute;
        top: 16cm;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        /* width: 100vw; */

    }

    #select_picture_1 {
        position: relative;
        top: 3.7mm;
        right: 17mm;
    }

    #select_picture_2 {
        position: relative;
        bottom: 4mm;
        right: 7mm;
    }

    #select_picture_3 {
        position: relative;
        bottom: 11.7mm;
        left: 3mm;
    }

    #select_picture_4 {
        position: relative;
        bottom: 19.4mm;
        left: 13mm;
    }


}

/* 手機板 */

@media screen and (max-width: 800px) {
    body {
        user-select: none;
    }

    header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 2cm;
        background-color: rgb(255, 219, 37);
        z-index: 10000;
    }

    #a {
        text-decoration: none;
        color: black;
    }

    #icon {
        position: relative;
        top: 9px;
        left: 30px;
        border-radius: 40px;
    }

    #title_name {
        position: relative;
        top: -1.6cm;
        text-align: center;
    }

    #main_image {
        position: absolute;
        right: 50%;
        left: 50%;
        top: 8cm;
        bottom: 50%;
        width: 90%;
        max-width: 500px;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        text-align: center;
    }



    #main_image1_title {
        color: white;
        position: relative;
        top: 9cm;
        z-index: 100;
    }

    #article {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #main_image1_title_notes {
        background-color: #004e98;
        width: 1.2cm;
        height: 0.7cm;
        position: absolute;
        top: 8.5cm;
        color: white;
        font-size: medium;
        text-align: center;
        font-size: small;
        line-height: 0.7cm;
    }

    #select {
        display: block;
        position: absolute;
        top: 10px;
        right: 3px;
        z-index: 100;
    }

    #notice {
        position: absolute;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 5cm;
        width: 90%;
        background-color: rgb(233, 217, 140);
        border-radius: 20px;
        line-height: 35px;
        max-width: 600px;

    }

    #notice_title {
        text-align: center;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        top: 8px;
        letter-spacing: 5px;
        width: 8cm;
        border-bottom: 5px solid rgb(245, 245, 245);
    }

    #notice_li {
        position: relative;
        bottom: 6mm;
        width: 5cm;
        left: 1cm;
    }

    .notice_a {
        text-decoration: none;
        color: rgb(32, 76, 152);
        font-weight: bold;
        font-size: 18px;
    }

    body {
        height: 23cm;
    }

    #main_nav {
        display: none;
    }

    #section {
        height: 1000%;
        width: 0%;
        position: fixed;
        top: 2cm;
        right: 0px;
        background-color: white;
        z-index: 2;
    }

    #section2 {
        position: absolute;
        height: 210%;
        width: 0%;
        top: 2cm;
        right: 0px;
        background-color: rgb(255, 255, 255);
        z-index: 2;
    }

    #section3 {
        height: 1000%;
        width: 35%;
        position: fixed;
        top: 2cm;
        left: 0px;
        z-index: 2;
        display: none;
        background-color: rgb(255, 255, 255);
        opacity: 0;
    }

    #section4 {
        height: 110%;
        width: 35%;
        position: absolute;
        top: 2cm;
        left: 0px;
        z-index: 2;
        display: none;
        background-color: rgb(255, 255, 255);
        opacity: 0;
    }

    #body1 {
        position: relative;
        right: 0cm;
        left: 0cm;
        width: 100%;
        height: 110%;
        z-index: 1;
    }

    #show_screen {
        display: none;
        z-index: 3;
    }

    #show_screen_title {
        position: absolute;
        background-color: black;
        color: white;
        font-weight: bolder;
        font-family: "Calibri";
        left: 67.5%;
        transform: translate(-50%, -50%);
        top: 5cm;
        z-index: 3;

    }

    #show_screen_title2 {
        position: absolute;
        color: black;
        font-weight: bolder;
        font-family: "Calibri";
        left: 67.5%;
        transform: translate(-50%, -50%);
        top: 7cm;
        z-index: 3;

    }

    #show_screen_title3 {
        position: absolute;
        color: black;
        font-weight: bolder;
        font-family: "Calibri";
        left: 67.5%;
        transform: translate(-50%, -50%);
        top: 9cm;
        z-index: 3;

    }

    #show_screen_title4 {
        position: absolute;
        color: black;
        font-weight: bolder;
        font-family: "Calibri";
        left: 67.5%;
        transform: translate(-50%, -50%);
        top: 11cm;
        z-index: 3;

    }


    #select_picture {
        position: absolute;
        top: 13.5cm;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        /* width: 100vw; */

    }

    #select_picture_1 {
        position: relative;
        top: 3.7mm;
        right: 17mm;
    }

    #select_picture_2 {
        position: relative;
        bottom: 4mm;
        right: 7mm;
    }

    #select_picture_3 {
        position: relative;
        bottom: 11.7mm;
        left: 3mm;
    }

    #select_picture_4 {
        position: relative;
        bottom: 19.4mm;
        left: 13mm;
    }

}